body{
	margin:0px;
	
	
	
}


.head{
	background:#FFFF66;
	height:80px;
	padding-right:0px;
	padding-top:5px;
	padding-left:20px;
	border-bottom-color:red;
	border-bottom-style:solid ;
	
}

.head_img{
	height:75px;
	
}

#nav{
	background:#b0ea27;
	border-bottom-color:red;
	border-bottom-style:solid ;
	height:45px;

}

ul#nav{
	
	margin-top:0;
	list-style-type:none;
	overflow:hidden;
	font-family:arial;
	font-size:16px;
	border-bottom-style:none;
}
ul#nav li{
	display:inline;
	
	
}


ul#nav li a{
	
	
	display: inline-block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul#nav li a:hover{
	background-color:#FFFF66;
}